@media screen and (max-width: 992px){
    ..velaMobileToggle {
        display: block;
    }
    /*****Home page ******/
    
}
@media screen and (max-width: 768px) {
    .login{
        margin: 20px auto 30px;
        padding: 30px 10px;
    }
    .contact-us{
        margin: 20px 0;
    }
    #userForm h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:510px){
    .hikashop_category_image .hikashop_product_listing_image,
    .hikashop_product_image .hikashop_product_listing_image{
        width: 100%;
    }
    .hikashop_product_name a {
        height: 65px;
    }
}

@media screen and (max-width: 420px) {
    .hikashop_product_image,
    .hikashop_category_image{
        height: 140px !important;
    }
    a.hikacart{
        padding: 8px 10px;
    }
    .hikacart span:after{
        display: none;        
    }
}