/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serifl;
	line-height: 22px;
	font-size: 14px;
	color: #333;
    background: #000;
}
h1{font-size: 26px;}
h2{font-size: 23px;}
h3{font-size: 20px;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color: #333;
    font-weight: bold;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table td{
	text-align:left;
	vertical-align:top;
	padding: 5px 0;
}
.clear{
	clear: both;
}
.visiblePhone{
	display: none !important;
}
.hiddenPhone{
	display: block !important;
}
a{
    color: #000;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a:hover, a:focus{
    text-decoration: none
}

b, strong, .bold{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.table, img, label {
    max-width: 100%;
}
.nav>li>a:hover, .nav>li>a:focus{
    background: none;
}
.page-header{
    margin: 0 0 20px;
    padding: 0;
}
.page-header h2{
    margin: 10px 0;
}
@media screen and (max-width:992px){
	.visiblePhone{
		display: block !important;
	}
	.hiddenPhone{
		display: none !important;
	}
	.desktopShow{
		display: none !important;
	}
}

/**
 * Main Content
 */
#content p {
    margin: 0 0 10px;
}
#system-message {
	margin-bottom: 0;
}
#system-message .alert {
	margin-bottom: 0;
	border-radius: 0;
}
#system-message .alert-warning {
	border: 0;
}

/**
 * Pagination
 */
.pagination {
    margin: 0;
    float: right;
    width: 100%;
    text-align: center;
}
.pagination .counter{
    margin: 6px 0;
}
.pagination .pagination-list {
    list-style: none;
    z-index: 100;
    padding: 0;
    margin-bottom: 40px;
}
.pagination .pagination-list > li {
    display: inline-block;
    width: 32px;
    text-align: center;
    margin: 0 2px;
    background: #161616;
}
.pagination .pagination-list > li.disabled > a {
    color: #fff;
}
.pagination .pagination-list > li:last-child {
    margin-right: 0;
}
.pagination .pagination-list > li:first-child {
    margin-left: 0;
}
.pagination .pagination-list > li.active {
    background-color: #fff;
}
.pagination .pagination-list > li.active > a {
    color: #000;
}
.pagination .pagination-list > li > a {
    color: #969696;
    display: block;
    padding: 6px;
}
.pagination .pagination-list > li > a:hover,
.pagination .pagination-list > li > a:focus {
    text-decoration: none;
}
.icon-first:before {
    content: "\f049";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.icon-previous:before {
    content: "\f04a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.icon-next:before {
    content: "\f04e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.icon-last:before {
    content: "\f050";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
/**
 * columns of same height
 */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin-bottom: 10px;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
/**-------Search----------**/ 
.search{
    padding: 9px 0;
} 
.search .form-search{
    margin: 0;
}
.search .form-inline{
    position: relative;
    margin: 0;
}
.search .form-inline:after{
    position: absolute;
    top: 6px;
    right: 10px;
    font-family: FontAwesome;
    content: "\f002";
    color: #1679c4;
    
}
.search .search-query{
    border: none;
    padding: 6px 10px;
    width: 100%;
    border-radius: 0;
    height: 32px;
}
.search .phrases, .search .only{
    display: none;
}
#searchForm #search-searchword {
    padding: 5px;
    height: 34px;
}
.btn-toolbar{
    margin-bottom: 10px;
}
/**------Mega Menu--------**/                       
#mainmenu{
    float: right;
    margin-top: 5px;
}
#mainmenu li{
    float: left;
    width: 60px;
    height: 70px;
    text-align: center;
}
#mainmenu li a{
    padding: 0;
    color: #fff;
}
#mainmenu li a img{
    width: 100%;
    float: left;
}
#mainmenu li a .image-title{
    width: 100%;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    letter-spacing: 1px;
}
#mainmenu li:hover a img{
    display: none;
}
#mainmenu li:hover a .image-title{
    padding-top: 30px;
    display: inline-block;
}
/**-----mainmenu sub-------**/  
#mainmenu ul.nav.menu>li>ul{
    display: none;
    position: absolute;
    left: -10px;
    width: 210px;
    background-color: rgb(0,0,0,0.9);
    padding: 15px;
    top: 70px;
}
#mainmenu ul.nav.menu>li:hover>ul{
    display: block;
}
#mainmenu ul.nav.menu>li>ul>li{
    float: left;
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: left;
    height: 25px;
}
#mainmenu ul.nav.menu>li>ul>li>a{
    color:#fff;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
/**-----Header-----------*/ 
#headerlog {
    position: fixed;
    width: 100%;
    top: 0;
    height: 28px;
    line-height: 28px;
    background: #000;
    margin: 0px 0 0;
    border-bottom: 1px solid #2e2e2e;
    z-index: 999;
    color: #fff;
}
#headerlog .loginner {
    position: relative;
    padding: 0;
}
#headerlog .loginner .introlink {
    float: left;
    padding: 0;
}
#headerlog .loginner .introlink li {
    float: left;
}
#headerlog .loginner .introlink li a {
    display: block;
    color: #fff;
    font-size: 10px;
    line-height: 28px;
    padding: 0px 20px 0 0;
    float: left;
    text-transform: uppercase;
}
#headerlog .loginner .member {
    float: right;
    display: block;
    margin: 0 0 0 0px;
    padding: 0;
}
#headerlog .loginner .member >li {
    float: left;
    padding: 0 5px;
}
#headerlog .loginner .member >li.sns,
#headerlog .loginner .member >li.isearch {
    float: left;
    padding: 0;
}
#headerlog .loginner .member >li >a {
    text-align: center;
    height: 28px;
    line-height: 26px;
    color: #fff;
    padding: 0 0 0 5px;
    font-size: 13px;
    font-family: 'Open Sans Condensed',sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#headerlog .loginner .member .moduletable{
    float: right;
}
/*------header----------*/
#header {
    position: fixed;
    width: 100%;
    top: 28px;
    background: #000;
    z-index: 9;
}
#header .headerInrWrap {
    height: 74px;
    padding: 0;
}
#header h1 {
    float: left;
    margin: 0;
}
/*------Message----------*/
#messageModal button.close{
    margin-top: -10px;
    margin-right: -5px;
}
#messageModal h2{
    margin-top: 0;
    font-size: 20px;
}
#messageModal ul{
    padding: 0;
}
#slide{
    color: #000;
}
/*------Main Content----------*/
.main-content{
    background-color: rgb(17, 17, 17);
    padding: 20px 0;
    color: #fff;
    font-family: 'Open Sans Condensed',sans-serif;
    letter-spacing: 3px;
}
.main-product{
    background-color: #fff;
    color: #555555;
    padding: 20px 0;
}

.hikashop_products{
    padding: 30px 0;
}
.hikashop_product_name a{
    color: #fff;
    height: 41px;
    display: inline-block;
    overflow: hidden;
}
.hikashop_category_name a{
    color: #fff;
    display: inline-block;
    padding-bottom: 20px;
}
.hikabtn{
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
    padding: 8px 25px 
}
a.hikacart{
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}
a.hikacart span{
    position: relative;
}
.hikacart span:after{
    content: "\f07a";
    font-family: FontAwesome;
    position: absolute;
    right: -20px;
    top: -2px;
    font-size: 16px;
}
.hikawishlist span:after{
    content: "\f08a";
    font-family: FontAwesome;
    position: absolute;
    right: -24px;
    top: -2px;
    font-size: 16px;
}
a.hikacart:hover, a.hikacart:focus {
    color: #fff;
    background-color: #000;
    border-color: #fff;
}
.list-footer .limit, .hikashop_results_counter{
    display: none;
}
.hikashop_subcontainer:hover {
    box-shadow: 0 0 5px rgba(255,255,255,1);
}
/*------Card----------*/
.hikashop_small_cart_total_title{
    color: #fff;
}
div.hikashop_cart{
    padding-left: 5px;
    font-size: 13px;
    font-family: 'Open Sans Condensed',sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 26px;
    color: #fff;
}
table.hikashop_cart{
    color: #000;
}
/*------Customer Account----------*/
div.icon-wrapper div.icon a span.hkIcon{
    height: 55px;
}
div.icon-wrapper div.icon a span{
    line-height: 18px;
}

/*------contact-us----------*/
.contact-us{
    text-align: center;
    margin: 60px 0;
}
#userForm .formBody{
    text-align: left;
    width: 100%;
}
#userForm h2{
    font-size: 60px;
    text-transform: uppercase;
}
#userForm textarea, #userForm input[type="text"], #userForm input[type="email"] {
	height: 40px;
	margin: 0 0 15px 0;
	padding: 10px;
	width: 100%;	
	color: #000;
    font-size: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 0;
    box-sizing: inherit;
}
#userForm textarea{
    height: 120px;
    border-radius: 0;
}
#userForm button[type="submit"] {
    background: #000;
    font-size: 14px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 10px 52px;
    border-radius: 0;
}

.tab-content{
 margin: 10px 0;
    margin: 10px 0;
    background-color: #fff;
    padding-left: 5px;
    padding-top: 5px;

}
#userForm .desc{
    margin: 30px 0;
    font-size: 16px;
}
#userForm .fa{
    padding-left: 10px;
}
/*------Products----------*/
.hikashop_category_information h1{
    color: #fff;
}
.thumbnail{
    border: none; 
}
.hikashop_product_image .hikashop_product_image_subdiv{
    width: 100% !important;
}
.hikashop_product_discount {
    background-color: #a31a21;
    border-radius: 3px;
    color: #fff;
    margin: 5px;
    padding: 0 5px;
}
/*------Product detail----------*/
.hikashop_product_main_image_subdiv a > img{
    border: 1px solid #e2e2e2;
    width: 100%;
}
.hikashop_product_top_part h1{
    padding: 12px 0px;
    border-bottom: 1px solid #e8e8e8;
    font-weight: normal;
    font-size: 20px;
    color: #121212;
    margin: 0;
}
.hikashop_product_price_main .hikashop_product_price {
    line-height: 30px;
    font-size: 26px;
    padding: 10px 0;
    display: inline-block;
}
.detail-quantity {
    padding-top: 3px;
    margin-bottom: 15px;
}
.hikashop_product_right_part .left{
   width: 100px; 
   float: left;
}
.hikashop_product_right_part .right {
    display: inline-block;
}
.detail-quantity .hikashop_product_quantity_field {
    text-align: center;
    border: 1px solid #dadada;
    margin: 0px 5px;
}
/*--------Custom field---------*/
.hikashop_product_custom_item_info_table td:nth-child(1), 
.hikashop_product_characteristics_table td:nth-child(1){
    width: 100px;
    line-height: 26px;
}
.hikashop_product_characteristics_table td,
.hikashop_product_custom_item_info_table td{
    padding: 10px 0;
}
.hikashop_product_characteristics_table select, 
.hikashop_product_custom_item_info_table input {
    padding: 3px 0;
    border: 1px solid #dadada;
}

/*------Tabs---------*/
.nav-detail {
    border-bottom: 1px solid #d5dbdf;
}
.nav-detail a {
    color: #797979 !important;
    font-size: 17px !important;
    background: none !important;
    margin-right: 32px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 0px !important;
    display: inline-block !important;
    padding-bottom: 15px !important;
}

.nav-detail a:hover, .nav-detail a:focus, .nav-detail li.active a {
    background: none !important;
    color: #262b46 !important;
    border-bottom: 2px solid #e44261;
}

.nav-detail li.active a {
    border-bottom: 2px solid #e44261;
}

.navbar-menu-desktop ul#megamenu>li {
    display: inline-block !important;
}

.tab-detail div.tab-pane {
    padding-top: 0;
    padding-bottom: 40px;
}

.tab-detail p {
    font-size: 16px;
    color: #60626e;
    line-height: 26px;
}

.tab-detail ul {
    margin: 0px;
    padding: 0px;
}

.tab-detail ul li {
    list-style: none;
}

.tab-detail ul li:before {
    content: "\f111";
    font-size: 8px;
    font-family: "FontAwesome";
    color: #a9a9a9;
    padding-right: 5px;
}

.tab-detail .hikashop_product_files_main {
    margin-top: 25px;
}

.tab-detail .hikashop_product_files_main a {
    padding: 20px;
    background: #f7f7f7;
    color: #60626e;
    font-size: 17px;
    width: 375px;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none !important;
}

.tab-detail .hikashop_product_files_main a i {
    font-size: 30px;
    color: #bfc3db;
    padding-right: 20px;
}

.tab-detail .hikashop_product_files_main a span {
    vertical-align: top;
}

.filter-comment {
    padding: 10px 15px;
    background: #f9f9f8;
    margin-top: 33px;
}

.filter-comment span {
    font-size: 14px;
    color: #60626e;
}

.filter-comment select {
    padding: 10px 15px;
    font-size: 14px;
    color: #60626e;
    border: 1px solid #e5e5e5;
    margin-left: 20px;
}
.hikashop_vote_stars{
    padding: 0;
    line-height: 14px;
    display: inline-block;
}
.item-comment {
    padding: 20px 0px;
    border-bottom: 1px solid #eeeeee;
}

.item-comment h4 {
    font-size: 19px;
    color: #262b46;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
}

.item-comment p {
    font-size: 16px;
    color: #60626e;
}

.item-comment p.date {
    font-size: 13px;
    color: #a9a9a9;
    font-style: italic;
}
.tab-detail .pagination,.tab-detail .easyPaginateNav {
    display: block;
    text-align: center;
    width: 100% !important;
    margin-top: 30px;
}

.tab-detail .pagination li,.tab-detail .easyPaginateNav a {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

.tab-detail .pagination li:before {
    content: "";
}

.tab-detail .pagination li a,.tab-detail .easyPaginateNav a {
    font-size: 16px;
    color: #a9a9a9;
}

.tab-detail .pagination li:first-child, .tab-detail .pagination li:last-child,.tab-detail .easyPaginateNav a.first,.tab-detail .easyPaginateNav a.last {
    display: none;
}

.tab-detail .pagination li.active a, .tab-detail .pagination li a:hover,.tab-detail .easyPaginateNav a:hover,.tab-detail .easyPaginateNav a.current {
    color: #60626e;
    text-decoration: underline;
}

.tab-detail .pagination li .icon-previous, .tab-detail .easyPaginateNav a.prev {
    background: url(../images/paging-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 33px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    text-indent: 1000px;
    overflow:hidden;
}
.tab-detail .iteml{
    padding-bottom: 20px;
}

.tab-detail input, .tab-detail textarea {
    width: 100%;
    border: 1px solid #d9d9d9;
    color: #8F8F91;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.tab-detail .pagination li .icon-next,.tab-detail .easyPaginateNav a.next {
    background: url(../images/paging-next.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 33px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -1000px;
    overflow:hidden;
}

.info-commment .review-rate {
    float: left;
    width: 20%;
}

.info-commment .review-rate .score {
    float: left;
    font-size: 26px;
    color: #262b46;
}

.info-commment .review-rate .rate {
    float: left;
    margin-left: 20px;
    position: relative;
    top: 3px;
}

.info-commment .review-rate .num-review {
    font-size: 14px;
    color: #60626e;
}

.info-commment .show-progress .item {
    position: relative;
}

.info-commment .show-progress {
    float: left;
    width: 50%;
}

.info-commment .show-progress .name {
    display: table;
    float: left;
    width: 128px;
    font-size: 14px;
    color: #262b46;
}

.info-commment .show-progress .progress {
    display: table;
    width: 187px;
    height: 12px;
    border-radius: 0px;
    background: #efefef;
    box-shadow: none;
    margin-bottom: 14px;
}

.info-commment .show-progress .progress-bar {
    background: #fbaf5d;
    box-shadow: none;
}

.info-commment .show-progress .item span {
    position: absolute;
    left: 333px;
    font-size: 13px;
    color: #262b46;
    top: -3px;
}
/*------Slide----------*/
.djslider-default .navigation-container{
    top: 49% !important;
}
/*------Event----------*/
.item{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    display: inline-block;
}
.box-relative .h-title {
    font-size: 32px;
    color: #000;
    margin-bottom: 20px;
}
.blog img {
    width: 100%;
}
.blog .title {
    font-size: 20px;
    color: #000;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: 25px;
}
.blog .tag span {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}
/*------Brand----------*/
.hikashop_category_description  .hikashop_category_image{
    display: none;
}
.hikashop_category_custom_full_image_line{
    display: none;
}
.hikashop_custom_image_link{
    width: 100%;
}
/*------login----------*/
.login {
    width: 100%;
    margin: 60px auto 100px;
    padding: 60px 80px;
    color: #888;
    border: 1px solid #efefef;
    display: table;
}
.page-header h1 {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: left;
    color: #2e2e2e;
    line-height: 26px;
}
.login_box h4 {
    width: 100%;
    margin: 0 0 15px 0;
    padding-bottom: 5px;
    text-align: left;
    text-transform: uppercase;
    color: #2e2e2e;
    font-weight: bold;
}
.login_box fieldset input,
.login_box select {
    width: 100%;
    border: 1px solid #d9d9d9;
    color: #8F8F91;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.login_box select{
    padding: 7px 10px;
}
.login_box label{
    font-weight: normal;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus{
    background: #000;
    border-color: #000;
    border-radius: 0;
}
.bt-skb{
    width: 100%;
    text-transform: uppercase;
}
.list-group{
    padding: 10px 0;
    margin-bottom: 0;
}
.list-group a{
    color: #757575;
    font-size: 12px;
}
.jlslogin{
    padding-bottom: 20px;
}
.slogin-default a{
    width: 100%;
}
.btn-signup{
    width: 100%;
    background: #eee;
    border-color: #eee;
    color: #2e2e2e;
    text-transform: uppercase;
    border-radius: 0;
}
/*------checkout----------*/
fieldset input[type="text"],
fieldset input[type="password"],
fieldset input[type="email"],
fieldset select {
    width: 100%;
    border: 1px solid #d9d9d9;
    color: #8F8F91;
    padding: 5px 10px;
    margin-bottom: 10px;
}
fieldset select{
    padding: 7px 10px;
}
fieldset label{
    font-weight: normal;
}
/*------checkout----------*/
div.hikashop_messages{
    margin: 4px 0;
}
#hikashop_checkout{
    margin: 0 auto 50px;
}
#hikashop_checkout .hkcontrol-label {
    font-weight: bold;
    float: left;
}
#hikashop_checkout legend{
    font-weight: bold;
    border: none;
    font-size: 18px;
    margin-bottom: 10px
}
.hikashop_checkout_coupon_field{
    border: 1px solid #d9d9d9;
    margin: 0 10px 0 0;
    padding: 5px 10px;
}
.hikashop_checkout_buttons{
    margin-top: 20px;
}
.hikabtn_checkout_next{
    display: inline-block;
    border-radius: 4px;
    font-weight: 500;
    padding: 15px 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    position: relative;
    background: #FB8B21;
    color: white;
    margin-bottom: 20px;
}
.hikashop_checkout_cart .table>thead>tr>th:last-child,
.hikashop_checkout_cart .table>tbody>tr>td:last-child{
    text-align: right;
}
.hikashop_checkout_address{
    margin-top: 10px;
    margin-bottom: 20px;
}
.hikabtn_checkout_continue{
    color: #FB8B21;
    font-size: 14px;
}
#hikashop_checkout .hikabtn{
    border: 1px solid #ccc !important;
    margin-bottom: 4px !important;
    padding: 7px 25px !important;
}
.hikashop_checkout_cart .hikashop_cart_total_title, 
.hikashop_checkout_cart .hikashop_checkout_cart_final_total {
    font-size: 18px;
}
/*------cart----------*/
.cartmain{
    margin: 0 auto 80px;
}
.cartmain .cartTitle{
    font-family: 'Open Sans';
    margin: 0;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}
.cartmain .hika_toolbar .hikabtn{
    float: right;
    background-color: #FB8B21;
    border-color: #FB8B21;
    color: #fff;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    text-align: center;
    border: 1px solid transparent;
    padding: 8px 15px;
    border-radius: 0;
}
.cartmain .hika_toolbar .hikabtn:hover {
    background-color: #333;
    color: #fff;
}
.cartmain .hika_toolbar .hikabtn:last-child{
    margin-right: 20px;
    background-color: #333;
    color: #fff;
}
.cartmain .hika_toolbar .hikabtn:hover:last-child{
    background-color: #FB8B21;
    color: #fff;
}
.cartmain .hika_toolbar .btnIcon{
    display: none;
}
.cartmain .hika_show_cart_total_price,
.cartmain .hika_show_cart_total_text{
    font-family: MyriadPro;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.cartmain .table span{
    font-size: 16px;
}
.cartmain .table>thead:first-child>tr:first-child>th{
    font-weight: bold;
    text-align: center;
}
.cartmain .hikashop_cart_name_title{
    text-align: left !important;
}
.cartmain .table>tbody>tr>td, 
.cartmain .table>tfoot>tr>td{
    border-top: none !important;
}
/*------cart-quantity----------*/
.cart_quantity {
    width: 70px;
    background: #fff;
    padding: 0px 5px;
    text-align: center;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #e7e9ef;
    display: inline-block;
}
.cart_quantity .hikashop_product_quantity_field_change {
    font-size: 18px;
    color: #7c8289;
}
.cart_quantity .hikashop_product_quantity_field {
    height: 30px;
    width: 29px;
    text-align: center;
    font-size: 16px;
    color: #3d4957;
    background: #fff;
    border: none;
    margin: 0px;
}
/*------hikashop_module ----------*/
.hikashop_module .hikashop_products{
    padding: 0
}
.hikashop_module h2{
    font-size: 20px;
}
.hikashop_module  div.hikashop_container{
    margin: 10px 0 !important;
}
/*------productSupport ----------*/
.productSupport {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    border: solid 1px #e1e1e1;
    background: #f6f6f6;
    margin-bottom: 20px;
}
.productSupport h5 {
    color: #ed1c24;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
    font-weight: normal;
}
.productSupport a {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    line-height: 1.5;
}

.pd_policy ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 15px;
}
.pd_policy ul li i {
    margin-right: 10px;
    width: 17px;
    font-size: 17px;
}
img.hikashop_child_image{
    height: 80px !important;
}
/*------footer----------*/
.footer h4 {
    text-align: left;
    color: #888;
    font-size: 12px;
    padding: 10px 0;
    font-weight: bold;
    font-family: 'Lato','NanumGothic',sans-serif;
}
.footer .custom{
    font-size: 12px;
    color: #888;
    padding: 0px 0;
    line-height: 22px;
}
.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li.call {
    line-height: 33px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    font-family: 'Lato','NanumGothic',sans-serif;
}
/*------Home page----------*/
.intro_logo{position:absolute;top:20px;left:50%;margin-left:-75px;z-index:1;}
.intro_logo img{width:150px;}
h2 span{text-shadow:black 0.1em 0.1em 0.2em;font-weight: 700;}
.projects-container{height:100vh;width:100vw;position:relative;overflow-x:hidden;-webkit-overflow-scrolling:touch;}
.projects-container .cd-single-project{position:absolute;top:0;left:0;width:100%;height:50%;overflow:hidden;cursor:pointer;-webkit-transition:-webkit-transform 0.4s;-moz-transition:-moz-transform 0.4s;transition:transform 0.4s;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translateX(-100%);transform:translateX(-100%);}
.projects-container .cd-single-project::after{content: ' ';position:absolute;top:0;left:0;height:50vh;width:100%;background-image:url( "../../../images/main_bg1.jpg ");background-repeat:no-repeat;background-position:center center;background-size:cover;-webkit-transition:opacity 0.5s,height 0.4s;-moz-transition:opacity 0.5s,height 0.4s;transition:opacity 0.5s,height 0.4s;opacity:0.6;}
.projects-container .cd-single-project:hover::after{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.projects-container .cd-single-project:nth-of-type(2){top:50vh;}
.projects-container .cd-single-project:nth-of-type(2)::after{background-image:url( "../../../images/main_bg3.jpg ");}
.projects-container .cd-single-project:nth-of-type(3){top:100vh;}
.projects-container .cd-single-project:nth-of-type(3)::after{background-image:url( "../../../images/main_bg2.jpg ");}
.projects-container .cd-single-project:nth-of-type(4){top:150vh;}
.projects-container .cd-single-project:nth-of-type(4)::after{background-image:url( "../../../images/main_bg4.jpg ");}
.projects-container .cd-single-project.is-loaded{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);}

.cd-title{position:absolute;z-index:1;left:0;top:12.5vh;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);width:100%;text-align:center;height:100%;display:block;}
.cd-title h2{font-size:2.5rem;line-height:1.5;font-family: 'Open Sans Condensed',sans-serif;letter-spacing:5px;height:100%;}
.cd-title h2 span{top:50vh;position:absolute;width:100%;left:0;color: #000;}
@media only screen and (min-width:1024px){
.projects-container .cd-single-project{width:25vw;height:100%;opacity:0;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);-webkit-transition:width 0s;-moz-transition:width 0s;transition:width 0s;}
.projects-container .cd-single-project:first-of-type::after{background-image:url( "../../../images/main_bg1.jpg ");}
.projects-container .cd-single-project:nth-of-type(2){top:0;left:25vw;}
.projects-container .cd-single-project:nth-of-type(2)::after{background-image:url( "../../../images/main_bg3.jpg ");}
.projects-container .cd-single-project:nth-of-type(3){top:0;left:50vw;}
.projects-container .cd-single-project:nth-of-type(3)::after{background-image:url( "../../../images/main_bg2.jpg ");}
.projects-container .cd-single-project:nth-of-type(4){top:0;left:75vw;}
.projects-container .cd-single-project:nth-of-type(4)::after{background-image:url( "../../../images/main_bg4.jpg ");}
.projects-container .cd-single-project::after{height:100vh;width:100%;opacity:0;}
.projects-container .cd-single-project.is-loaded{opacity:1;}
.projects-container .cd-single-project.is-loaded::after{opacity:0.2;}
.projects-container .cd-single-project:hover::after{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);}}
.cd-title{top:50vh;width:25vw;opacity:1;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:-webkit-transform 0.6s,opacity 0.6s,left 0.4s;-moz-transition:-moz-transform 0.6s,opacity 0.6s,left 0.4s;transition:transform 0.6s,opacity 0.6s,left 0.4s;}
.cd-title h2{font-size:3.6rem;}
}

